<nav class="nav-home">
    <ul class="list">
        <li class="item">
            {% if page.title != "Home" %}
            <a class="link" href="/">Home</a>
            {% else %}
            <a class="link" href="/"><u>Home</u></a>
            {% endif %}
        </li>
        <!-- <li class="item">
            {% if page.title != "About" %}
            <a class="link" href="{{ site.url }}/about">About</a>
            {% else %}
            <a class="link" href="{{ site.url }}/about"><u>About</u></a>
            {% endif %}
        </li> -->
        <li class="item">
            {% if page.title != "Color Photos" %}
            <a class="link" href="{{ site.url }}/color_photos">Color</a>
            {% else %}
            <a class="link" href="{{ site.url }}/color_photos"><u>Color</u></a>
            {% endif %}
        </li>
        <li class="item">
            {% if page.title != "BW Photos" %}
            <a class="link" href="{{ site.url }}/bw_photos">B&W</a>
            {% else %}
            <a class="link" href="{{ site.url }}/bw_photos"><u>B&W</u></a>
            {% endif %}
        </li>
    </ul>
</nav>
