.photo-gallery
    margin-top: 10px
    width: 100%
    display: grid
    grid-template-columns: repeat(3, minmax(50px, 1fr))
    justify-content: center
    gap: 5px 8px

.box
    flex-basis: 25%
    width: 100%
    padding: 0px
    margin: 0px

.single-photo
    width: 100%
    aspect-ratio: 1
    object-fit: cover
    transition: all 0.3s ease-in-out
    &:hover
        box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15)
        opacity: .8